@page
@model SeniorProject.Areas.Identity.Pages.Account.ForgotPasswordModel
@{

}
<div class="row">
    <div class="col-12">
        <div class="container-tab">
            <h3>Reset Password</h3>
            <hr />
        </div>
    </div>
    <div class="col-md-6">
        <form id="forget-password" method="post" role="form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="forgetPassword.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                <label asp-for="forgetPassword.Email" class="form-label"></label>
                <span asp-validation-for="forgetPassword.Email" class="text-danger"></span>
            </div>
            <div class="row w-100 g-0 justify-content-end">
                <div class="col-sm-4">
                    <button type="submit" class="btn w-100 btn-primary mt-2">Reset Password</button>
                </div>
            </div>
        </form>
    </div>
</div>