@using SeniorProject.Areas.Admin.Models
@model IEnumerable<SeniorProject.Areas.Admin.Models.AdminViewModel>


@{
    ViewData["Title"] = "Admin List";
    Layout = "~/Views/Shared/_Layout.cshtml"; // Update the layout file here
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1>Admin List</h1>

<p>
    <a asp-action="CreateAdmin">Create New Admin</a>
</p>

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Name)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <form asp-action="RevokeAdminAccess" method="post"
                                  onclick="return confirm('Are you sure?')">
                                <button type="submit">Revoke Admin Access</button>
                            </form>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}

@section Scripts {
    <script>
        $("form").validate({
            rules: {
                Email: "required"
            }
        });
    </script>
}