<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="contact.css">
	<title>Contact Us</title>
</head>
<body>

	<header>
		<img src="https://i.ibb.co/nmGwm5K/Untitled.png" alt="WebBuilders Logo" width="100" height="100">



		<h1>Earthcare Initiative</h1>

	</header>

	<div class="contact">
		<h1>Contact Us</h1>
		<form action="mailto:email@example.com" method="post" enctype="text/plain">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required>

			<label for="email">Email:</label>
			<input type="email" id="email" name="email" required>
			<br />
			<label for="message">Message:</label>
			<textarea id="message" name="message" rows="4" required></textarea>

			<input type="submit" value="Send">
		</form>
	</div>
</body>
</html>