@using SeniorProject.Areas.Admin.Models
@model SeniorProject.Areas.Admin.Models.AdminViewModel

@{
    ViewData["Title"] = "CreateAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create New Admin</h1>

<form asp-controller="Admin" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    @* <div class="form-group">
    <label asp-for="Name">Name:</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>*@
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="AdminList">Back to List</a>
</div>

@section Scripts {
    @* <script>
        $("form").validate({
            rules: {
                Id: "required",
                Name: "required"
            }
        });
    </script>*@
}