@model SeniorProject.Models.Donation

@{
    ViewData["Title"] = "DeleteDonation";
}

<h1>Delete the entry?</h1>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="Amount" />
    <input type="hidden" asp-for="Address" />
    <input type="hidden" asp-for="Phone" />
    <input type="hidden" asp-for="Message" />
    <button type="submit" class="btn btn-primary">Yes</button>
    <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-primary">No</a>
</form>