
<!DOCTYPE html>
<html>
<head>
	<title>Earthcare Initiative</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="home.css">
</head>
<body>
	<header>
			<img src="https://i.ibb.co/nmGwm5K/Untitled.png" alt="WebBuilders Logo" width="100" height="100">
			
		
		
		<h1>Earthcare Initiative</h1>
		<nav>
			<a href="/index.cshtml" style="background-color: #333; color: #fff; padding: 14px 16px; text-decoration: none;">Home Page</a>
			<a href="/contactus.cshtml" style="background-color: #333; color: #fff; padding: 14px 16px; text-decoration: none;">Contact Us</a>
			<a href="/getinvo.cshtml" style="background-color: #333; color: #fff; padding: 14px 16px; text-decoration: none;">Get Involved</a>
			<a href="/donation.cshtml" style="background-color: #333; color: #fff; padding: 14px 16px; text-decoration: none;">Donate</a>
	</nav>
	
	<form>
			<label for="username">User Login:</label>
			<input type="text" id="username" name="username"><br><br>
			<label for="password">Password:</label>
			<input type="password" id="password" name="password"><br><br>
			<button type="submit">Login</button>
			<button type="button" onclick="location.href='#'">Register</button>
		</form>
		
	</header>
	<main>
			<div class="center-container">
			<h2>Welcome to Earthcare Initiative!</h2>
			<p>Thank you for visiting our website. We are dedicated to promoting environmental sustainability and making a positive impact on our planet.<br>
			Please browse our website to learn more about our mission and how you can join us in our efforts to protect the earth for future generations.</p>
			<!-- This image i don't know what to add <img src="https://media.vneconomy.vn/w800/images/upload/2023/03/25/q18.jpg" alt="Earth Image" width="300" height="200"> -->
		</div>
		
	
	</main>
	
</body>
</html>