@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data
@using SeniorProject.Areas.Admin.Models
@model IEnumerable<SeniorProject.Areas.Admin.Models.AdminViewModel>

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@{
    ViewData["Title"] = "Portal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1>IN PROGRESS</h1>


@if (Model != null)
{
            @foreach (var item in Model)
            {
                if (item != null)
                {
                    @if (SignInManager.IsSignedIn(User))
                    {

                    if(UserManager.GetUserName(User) == item.Name )
                    {
                        <h1>Success</h1>
                    } 
        
                    }
                }
            }
}
