@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data
@using SeniorProject.Areas.Admin.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<h1>User List</h1>


@if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
{
    @if (Model != null && Model.Users != null)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model.Users)
                {
                    <tr>
                        <td>@user.UserName</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    }
}
