@using Microsoft.AspNetCore.Identity
@using AuthSystem.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">Contact Us</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="getInvolvedDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Get Involved
        </a>
        <div class="dropdown-menu" aria-labelledby="getInvolvedDropdown">
            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="EventsList">Events</a>
            <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Create">Donate</a>
            <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Donated">Donated</a>
        </div>
    </li>

    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a id="manage" class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link">Logout</button>
            </form>
        </li>
    }

    @if (UserManager.GetUserName(User) == "admin@cpt275.beausanders.org")
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="adminDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Admin
            </a>
            <div class="dropdown-menu" aria-labelledby="adminDropdown">
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AddEvents">Add Events</a>
                <a class="dropdown-item" asp-area="" asp-controller="Donation" asp-action="Donated">EditDonation</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="AdminList">Admins</a>
                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CreateAdmin">Create Admin</a>
            </div>
        </li>
    }
</ul>