@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-12">
        <p>
            Your password has been successfully reset.
        </p>
    </div>
</div>