@{
    ViewData["Title"] = "Confirmation";

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirmation</h1>
<div>
    <h3>You Message has been Sent to Earth Care Initiative</h3>
    <p>Thanks for your Feedback </p>
</div>
